@{
    ViewBag.Title = "About Alex";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a 5th year senior. I have had a semi-unconventional road to get to this point. I originally went to Ohio State</p>
