@{
    ViewBag.Title = "About Alex";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a 5th year senior. I have had a semi-unconventional road to get to this point. I originally went to Ohio State's branch campus
    as a mechanical engineering major. I attended OSUN for 2 years and during my last semster I decided I would change to a business major,
     although I didn't know specifically what field I would get into. I thought originally that the engineering classes that I took would be wasted, 
    but the programming experience that I gained from those has been very beneficial since choosing MIS and Business Analytics as my majors.
    Over this past summer I had an internship with the Governor of Ohio's finance team. Basically what I was responsible for was identifying
     potential donors by comparing current donors to people that had donated to other Republicans in the state. The challenge was all of the
     members that we collected data from for comparison had different ways of entering data. I created a process of making uniform datasets so they 
    could easily be compared without having to physically read and compare every single person. On campus I am not involved in any student organizations, 
    but I do work for catering at Nelson Dining Hall where I am the student coordinator, which is the highest position a student can be. When I have 
    free time there are three main activities I like to do. Watch movies, watch sports, and workout.</p>
