@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mount Vernon, OH <br />
    <abbr title="Phone">P:</abbr>
    740.398.0107
</address>

<address>
    <strong>School:</strong>   ak353914@ohio.edu<br />
    <strong>Personal:</strong> alexkempen07@gmail.com
</address>